


<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://unpkg.com/@tonconnect/ui@latest/dist/tonconnect-ui.min.js"></script>
</head>

<body>

  <div id="wallet-root"></div>
  <script>

    main();

    async function main() {
      const tonConnectUI = new TON_CONNECT_UI.TonConnectUI({
        manifestUrl: 'https://raw.githubusercontent.com/ton-community/tutorials/main/03-client/test/public/tonconnect-manifest.json',
        // manifestUrl: 'http://localhost:3000/manifest',
        buttonRootId: 'wallet-root',
      });

      tonConnectUI.uiOptions = {
        uiPreferences: {
          theme: TON_CONNECT_UI.THEME.LIGHT,
          colorsSet: {
            [TON_CONNECT_UI.THEME.LIGHT]: {
              connectButton: {
                background: '#95c51a',
              },
              text: {
                primary: "#000"
              }
            }
          }
        }
      }

      const token = await signature();


      // 获取获取签名凭证
      tonConnectUI.setConnectRequestParameters({
        state: "ready",
        value: {
          "tonProof": token
        }
      })

      // 当连接到Ton钱包时,更新钱包连接状态 
      tonConnectUI.onStatusChange(async w => {
        console.log("钱包详细:", w.connectItems)
        if (w?.connectItems?.tonProof && 'proof' in w.connectItems.tonProof) {
          checkProof(w.connectItems.tonProof.proof, w.account);
        }

        if (w) {
          console.log("钱包已经连接")
          // this.$store.state.walletConnected = true;
        } else {
          // this.$store.state.walletConnected = false;
        }
      })

      tonConnectUI.onModalStateChange(
        (state) => {
          console.log(state)
        })
    }



    async function signature() {

      const response = await fetch(`http://localhost:3000/wallet/signature`, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
      })
      const { signedToken } = await response.json();

      return signedToken;

    }

    async function checkProof(proof, account) {
      try {
        const reqBody = {
          address: account.address,
          network: account.chain,
          public_key: account.publicKey,
          proof: {
            ...proof,
            state_init: account.walletStateInit,
          },
        };
        console.log(reqBody)

        const response = await fetch(`http://localhost:3000/wallet/checkProof`, {
          method: 'POST',
          body: JSON.stringify(reqBody),
          headers: {
            'Content-Type': 'application/json',
          },
        })
        console.log(response)


        // if (response?.token) {
        //   localStorage.setItem(this.localStorageKey, response.token);
        //   this.accessToken = response.token;
        // }
      } catch (e) {
        console.log('checkProof error:', e);
      }
    }

  </script>
</body>

</html>